TWKPR.xls
TWKPR.xlsx
masterfile.xlsx
Nutraceutical.xlsx
todo.md
venv
Converted.zip
.vscode
__pycache__

Papa Pita DSD Driver  Import File.xlsx
Papa Pita DSD Merchandisers Isarel Erik Import File.xlsx
Papa Pita ID, OR Import File.xlsx
Papa Pita Nevada Import File.xlsx
Papa Pita St George Scott South Utah Import File.xlsx
~$masterfile.xlsx
Papa Pita Novatime Import File.xlsx
Papa Pita Adjustment Import File.xlsx
Papa Pita DSD Managers Import File.xlsx
masterfile.py
novatime.py